/* Tipografia Raleway */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;600;700&display=swap');

* {
    background-color: #131313;
}

.header-chomsky {
    margin-left: 5%;
    width: 70%;
    height: 20rem;
}

.title-chosmky {
    font-family: "Raleway";
    font-weight: 300;
    color: #ffffff;
    font-size: 4rem;
}

.language-name {
    font-size: 7rem;
    font-weight: 600;
    color: rgb(211, 63, 63);
}

#G {
    width: 5rem;
    margin-left: 3rem;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.code,
.pila {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-family: "Raleway";
    font-weight: 500;
    color: #ffffff;
    font-size: 1rem;
}

.txtCode {
    width: 100%;
    height: 40rem;
    display: flex;
    justify-content: center;
}
.txtCode2 {
    width: 80%;
    height: 15rem;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    color: #FFFFFF;
    font-family: 'JetBrains Mono';
    font-size: .7rem;
    font-weight: 400;
}

.button-1{
    font-family: 'Raleway';
    font-weight: 600;
    height: 2rem;
    width: 10rem;
    border: none;
    background-color: #ffffff;
    border-radius: 2px;
    transition: .3s;
}
.button-1:hover{
    background-color: rgb(211, 63, 63);
    transition: .3s;
    color: #ffffff;
}

footer{
    margin-top: 10rem;
    height: 10rem;
    display: flex;
    align-items: center;
}
.logo-garrick{
    height: 10rem;
    width: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.github{
    height: 2rem;
    width: 100%;
    display: flex;
}
.victor,.jesus{
    display: flex;
    width: 60%;
    justify-content: center;
    align-items: center;
}
.gtb{
    width: 40px;
}
a{
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Raleway';
    font-weight: 200;
    
}
.name{
    font-family: 'Raleway';
    font-weight: 500;
    color: #FFFFFF;
}

